fastapi==0.115.14 
uvicorn[standard]==0.35.0 
pydantic>=2.11,<3.0 
python-multipart 
jinja2 
httpx 
pytest 
black 
ruff 
mysql-connector-python 
python-dotenv 
openai 
aiofiles 
pdfplumber 
langchain 
chromadb 
aiofiles 
pdfplumber 
tiktoken
pymysql